<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="_3B.Properties.Settings.DataSourceConnectionString"
      connectionString="Data Source=BUNKMASTER-PC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="_3B.Properties.Settings.bookstoreConnectionString"
      connectionString="Data Source=BUNKMASTER-PC;Initial Catalog=bookstore;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="bookstoreEntities1" connectionString="metadata=res://*/bookstoreModel.csdl|res://*/bookstoreModel.ssdl|res://*/bookstoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BUNKMASTER-PC;initial catalog=bookstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="_3B.Properties.Settings.bookstoreConnectionString1"
      connectionString="Data Source=SONY-VAIO\SQLSERVER2012;Initial Catalog=bookstore;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>